.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 70vh;
  width: 90%;
  background-color: #fff;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 2rem;
}

.container .logo {
  height: 8rem;
  width: 8rem;
}

.container .logo .logo__img {
  height: 100%;
  object-fit: cover;
}

.container .container__form {
  position: relative;
  top: -5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.container .container__form .container__name__input {
  width: 70%;
  height: 3rem;
  border: 0;
  outline: none;
  border-bottom: 2px #adadad solid;
  font-size: 1.5rem;
  font-family: "Poppins";
  margin-bottom: 3rem;
}

.container .container__form .container__form__button {
  width: 70%;
  height: 4rem;
  border-radius: 2rem;
  border: 0;
  background-color: #b18bce;
  color: #fff;
  font-size: 1.5rem;
}
